{% block doc -%}
<!DOCTYPE html>
<html lang="en" {% block html_attribs %}{% endblock html_attribs %}>
{%- block html %}
    <head>
		{%- block head %}
        <title>Home Base{% block title %}{% endblock title %}</title>
		{%- block metas %}
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		{%- endblock metas %}

		{%- block styles %}
		<style>
			.nav {
				display: inline-block;
				float: none;
			}
			.bg-mw {
			background-color: #2c3e50 !important;
			}
			.h1_txt {
				color: white;
				font-weight: bold;
				font-size: 30px;
		</style>
		<link rel="stylesheet" type="text/css" href="\static\css\bootstrap.css">
		<link rel="stylesheet" type="text/css" href="\static\css\MDAP_styles.css">
        <script type="text/javascript" src="\static\js\d3.v5.js"></script>
		<script type="text/javascript" src="\static\js\utilities.js"></script>
		<script type="text/javascript" src="\static\js\jquery.min.js"></script>
		<script type="text/javascript" src="\static\js\popper.min.js"></script>
		<script type="text/javascript" src="\static\js\bootstrap.min.js"></script>
		{%- endblock styles %}
		{% block javascript %}{% endblock javascript %}
		{%- endblock head %}
    </head>
	<body>
		{% block body -%}

	
		<!--nav class="nav navbar-nav bg-mw"-->
		<nav class="navbar navbar-expanded-sm bg-endo navbar-dark">
			<div class="navbar-nav">
				<a class="nav-link col " href="\buttons" style="color:white">BUTTONS</a>
			</div>
			<div class="nav-link col" href = "#" >
				<h1 style="text-align:center"><a href="#" style="text-align:center " class="h1_txt">?Q</a></h1>
			</div>
		</nav>

		<!--h1 class="head-main">Home, sweet home!</h1-->
		<!--div id="svgDiv" style="text-align:center;">{% block svg_div %}{% endblock svg_div %}</div-->
		{% block navbar %}
		{%- endblock navbar %}
		{% block content -%}
		{%- endblock content %}
		{% block scripts %}
		{%- endblock scripts %}
		{%- endblock body %}
    </body>
{%- endblock html %}
</html>
{% endblock doc -%}
