{% extends "alternate.html" %}

{% block head %}
{{ super() }}
{% block styles %}
<style>
	.nav {
		display: inline-block;
		float: none;
	}
	.form-padded {
		padding-left: 50px;
	}
	#mainSVG:hover {
		fill: red;
	}
</style>
{{ super() }}
{% endblock styles %}
{% block javascript %}
{{ super() }}
	<script type="text/javascript" src="\static\js\jquery.dataTables.js"></script>
	<!--sizeButtons() was defined here previously-->
	<!--setupUpload() was defined here previously-->
	<script>
	$(window).resize(function(){
		console.log("resizing");
		setupHeader();
		sizeButtons();
	});
	</script>
{% endblock javascript%}
{% endblock head %}
{% block body %}
{{ super() }}
<body onload="setupUpload()">
	<h1 style="text-align:center">{{ company }}</h1>
	<div class="form-padded">
		<form id="formID" role="form" method="POST" action="" class="form-row">
			{{ form.hidden_tag() }}
			<div class = "form-group-col">
				{{ form.stock_selection.label }}
				{{ form.stock_selection(class="form-control",id="stockSelection") }}
			</div>
		</form>
	</div>
	<div id ="svgDiv" style="text-align:center"></div>
	<script type="text/javascript">
		data = {{ data | safe  }}
		console.log("DATA LENGTH: ",data.length);
		if (data.length > 0) {
			console.log('DATA PASSED TO FRONT END');
		} else {
			console.log('NO DATA PASSED TO FRONT END');
		};
	$("#stockSelection").change(function() {
		console.log("YOU SELECTED SOMETHING");
		$("#formID").submit();
		console.log("submitted");
	});
	
		var w = 800;
		var h = 500;
		var padding = 20;
		var ds = [];
		var xScale, yScale
		var svg1 = d3.select("#svgDiv")
							.append("svg")
							.attr("width",w)
							.attr("height",h)
							.attr("id","mainSVG");
	
	// plot data if data is passed to front end

	// if(data.length > 0){
		function plotData() {
			var parseTime = d3.timeParse("%Y-%m-%d %H:%M:%S");
			var formatTime = d3.timeFormat("%M");
			// dt = parseTime(sub)
			// console.log("dt: ",dt)
			
			var td = [] ;
			for(var i=0; i<data.length; i++) {
				row = data[i]
				dt = new Date(row[1]);
				ins = {date: dt, price:row[0]}
				td.push(ins)
				v = formatTime(dt)
			//	console.log("dt value: ",v);
			};
			// console.log('td: ',td)
			
			xScale = d3.scaleTime()
						.domain([
							d3.min(td, function(d) { return d.date;}),
							d3.max(td, function(d) {return d.date;})
						])
						.range([padding*2,w-padding]);
						
			yScale = d3.scaleLinear()
						.domain([
							d3.min(td, function(d) {return d.price;}),
							d3.max(td, function(d) {return d.price;})
						])
						.range([h-padding,padding]);
			
			// define the axis
			xAxis = d3.axisBottom()
							.scale(xScale)
							.ticks(9)
							.tickFormat(formatTime)
							
			// define y axis
			yAxis = d3.axisLeft()
				.scale(yScale)
				.ticks(10)
				
			var xmin = d3.min(td, function(d) {return d.date;});
			console.log("xmin: ",xmin)
			
			// add data to plot
			svg1.selectAll("circle")
				.data(td)
				.enter()
				.append("circle")
				.attr("cx",function(d){
					return xScale(d.date);
				})
				.attr("cy",function(d){
					return yScale(d.price);
				})
				.attr("r",2)
				
			// create X axis
			svg1.append("g")
				.attr("class","axis")
				.attr("transform","translate(0," + (h - padding) + ")")
				.call(xAxis)
				
			// create Y axis
			svg1.append("g")
				.attr("class","axis")
				.attr("id","yAxis")
				.attr("transform","translate(" + 2*padding + ",0)")
				.call(yAxis)

			// children = $("#yAxis") .children().(".g")
			// var children = $("#yAxis").find("g")[0]
			var formatYaxis = $("#yAxis").find("g").find("text").each(function() {
				val = $(this).text();
				if(val.includes("$")){
					val = "$"+val;
				};
				// val = "$"+val;
				console.log("text value: ",val);
				test = val.includes("$");
				/*
				console.log("TEEEEESTTTTT",test);
				if(test) {
					console.log("TEST PASSED");
				} else {
					console.log("TEST FAILED");
				};
				*/
				$(this).text(val);
				$(this).css("color","green");
			});
		};
		
		if(data.length > 0) {
			plotData();
			console.log("DATA PLOTTED");
		};
		
		$('#svgDiv').css('paddingLeft', '100px')
		$("#mainSVG").mouseenter(function() {
			console.log(" MOUSE OVER ");
			x = 2*padding;
			y = padding;
			svg1.append("rect")
				.attr("x",x)
				.attr("y",y)
				.attr("width",w-padding)
				.attr("height",h-padding)
				.attr("fill","teal")
				.attr("id","background");
				
			plotData();
		});
		
		$("#mainSVG").mouseleave(function() {
			console.log("MOUSE IS OUT");
			$("#background").remove();
		});
			
		x = h - padding;
		y = 2*padding;
		// $("#svgDiv").css("background-color" ,"blue");
	//	$(".axis text").css("fill","blue")

	</script>
</body>

{% endblock %}
{% block content %}{% endblock content %}