{% extends "alternate.html" %}

{% block head %}
{{ super() }}
{% block styles %}
<style>
	.nav {
		display: inline-block;
		float: none;
	}
	.form-padded {
		padding-left: 50px;
	}
</style>
{{ super() }}
{% endblock styles %}
{% block javascript %}
{{ super() }}
	<script type="text/javascript" src="\static\js\jquery.dataTables.js"></script>
	<!--sizeButtons() was defined here previously-->
	<!--setupUpload() was defined here previously-->
	<script>
	$(window).resize(function(){
		console.log("resizing");
		setupHeader();
		sizeButtons();
	});
	</script>
{% endblock javascript%}
{% endblock head %}
{% block body %}
{{ super() }}
<body onload="setupUpload()">
	<h1 style="text-align:center">{{ company }}</h1>
	<div class="form-padded">
		<form id="formID" role="form" method="POST" action="" class="form-row">
			{{ form.hidden_tag() }}
			<div class = "form-group-col">
				{{ form.stock_selection.label }}
				{{ form.stock_selection(class="form-control",id="stockSelection") }}
			</div>
		</form>
	</div>
	<div id ="svgDiv" style="text-align:center"></div>
	<script type="text/javascript">
		data = {{ data | safe  }}
		console.log("DATA LENGTH: ",data.length);
		if (data.length > 0) {
			console.log('DATA PASSED TO FRONT END');
		} else {
			console.log('NO DATA PASSED TO FRONT END');
		};
	$("#stockSelection").change(function() {
		console.log("YOU SELECTED SOMETHING");
		$("#formID").submit();
		console.log("submitted");
	});
	
		var w = 800;
		var h = 500;
		var padding = 20;
		var ds = [];
		var xScale, yScale
		var svg1 = d3.select("#svgDiv")
							.append("svg")
							.attr("width",w)
							.attr("height",h)
							.attr("id","mainSVG");
	
		if(data.length > 0) {
			plotData();
			console.log("DATA PLOTTED");
		};
		
		$('#svgDiv').css('paddingLeft', '100px')
		$("#mainSVG").mouseenter(function() {
			console.log(" MOUSE OVER ");
			x = 2*padding;
			y = padding;
			svg1.append("rect")
				.attr("x",x)
				.attr("y",y)
				.attr("width",w-3*padding)
				.attr("height",h-2*padding)
				.attr("fill","teal")
				.attr("id","background");
				
			plotData();
		});
		
		$("#mainSVG").mouseleave(function() {
			console.log("MOUSE IS OUT");
			$("#background").remove();
		});
			

		// $("#svgDiv").css("background-color" ,"blue");
	//	$(".axis text").css("fill","blue")

	</script>
</body>

{% endblock %}
{% block content %}{% endblock content %}